.column {
    float: left;
}

.left {
    width: 30%;
}
.right {
    width: 70%;
}

#overlay {
    align-content: center;
    text-align: center;
    color: white;
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 60%; /* Full width (cover the whole page) */
    height: 40%; /* Full height (cover the whole page) */
    top: 30%;
    left: 15%;
    right: 0;
    bottom: 0;
    background-color: rgba(128,0,129,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}